@use './variables.scss' as *;


* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
    margin: 0;
    font-family: $fontcasual;
    padding: 0;
    background: $body-color;
}

.notfoundmaincontainer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfoundmaincontainer .Back{
  margin: 10px;
  text-decoration: none;
  padding: 20px;
  background-color: $sign-blue;
  border-radius: 10px;
  color: $casual-white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.notfoundmaincontainer p{
  color: $casual-black;
}

.notfoundmaincontainer .Back:hover{
  background-color: $hover-blue;
}