@use './variables.scss' as *;

body {
    font-family: $fontcasual;
    background-color: $body-color;
    margin: 0;
    padding: 0;
}

.profilepagewrapper {
    display: flex;
    align-items: top;
    justify-content: space-around;
    max-width: 1300px;
    margin: 50px auto; 
    background-color: $casual-white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    min-height: 80vh;
}

h4{
    padding: 0;
    margin: 0;
}

.namecontainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: fit-content;
}


.sectioncontentSidebarSection {
    width: 300px;
    padding: 40px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $border-white2;
    position: relative;
}

.sectioncontentBackArrowIcon {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    font-size: 1.2em;
    color: $brown-777;
    cursor: pointer;
    padding: 20px;
    border-radius: 100%;
    background-color: $border-white2;
    text-decoration: none
}


.sectioncontentProfilePictureContent {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px; 
    box-shadow: 0 0 0 1px #eee;
}

#sectioncontentUserNameContent {
    font-size: 1.6em;
    font-weight: 600;
    color: $brown-333;
    margin-top: 5px;
}

.sectioncontentUserTitleContent {
    font-size: 1em;
    color: $brown-777;
    margin-bottom: 30px;
}

.sectioncontentCopyLinkButton {
    width: 70%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 100px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    background: url("../assets/usersicons/copyicon.png") no-repeat center/cover;
    background-size: 20px 20px;
    background-position: left 30px center; 
    padding-left: 40px;
    background-color: $background-button-white;
    color: $button-white;
    border: 1px solid $border-white;
}

.sectioncontentEditButton {
    width: 50%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s;
    background: $casual-white;
    color: $button-white;
    border: 1px solid $border-white;
}

.sectioncontentCopyLinkButton:hover {
    background-color: $background-white;

}

.sectioncontentEditButton:hover {
    background-color: $background-white;
}

.sectioncontentProfileContentArea {
    flex-grow: 1;
    padding: 40px; 
    max-width: 800px;
}

.sectioncontentInfoBlock {
    margin-bottom: 35px;
}

h4{
    margin: 0;
    padding: 0;
}

.sectioncontentSectionTitle {
    font-size: 1.2em; 
    font-weight: 500;
    color: #555;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.sectioncontentInfoItem {
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
    font-size: 0.9em; 
}

.sectioncontentInfoLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 170px;
    color: $brown-777;
    font-weight: 400;
}

.sectioncontentInfoLabel img{
    width: 20px;
    height: 20px;
    object-fit: contain;    
}


.sectioncontentInfoLabel .sectioncontentIcon { 
    color: $link-blue; 
    font-size: 1.1em;
    margin-right: 15px;
    line-height: 1;
}

.sectioncontentInfoValue {
    flex-grow: 1;
    color: $brown-333;
    font-weight: 500;
}

.sectioncontentInfoValue.managerlinkcontent {
    flex-grow: 1;
    color: $brown-333;
    font-weight: 500;
    color: $link-blue;
}


.sectioncontentInfoValue a {
    color: $link-blue; 
    text-decoration: none;
}

.expired {
    color: $red-expired; 
    font-weight: 500;
}

.profileimage {
    position: relative;  
    width: 200px;
}

.profileimage .sectioncontentProfilePictureContent {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-radius: 50%;
    object-fit: cover; 
    display: block;
}

.profileimage .remote {
    position: absolute; 
    bottom: 5px;          
    left: 0px;         
    width: 70px;
    height: 70px;
    cursor: pointer;    
}

@media (max-width: 1024px) {
  .profilepagewrapper {
    margin: 20px;
    max-width: 100%;
  }

  .sectioncontentSidebarSection {
    width: 260px;
    padding: 30px 20px;
  }

  .sectioncontentProfileContentArea {
    padding: 30px;
  }

  .sectioncontentInfoLabel {
    width: 150px;
  }
}


@media (max-width: 768px) {
  .profilepagewrapper {
    flex-direction: column;
    margin: 0;
    border-radius: 0;
    min-height: auto;
  }

  .sectioncontentSidebarSection {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid $border-white2;
    padding: 25px 20px;
    justify-content: flex-start;
  }

  .sectioncontentBackArrowIcon {
    top: 10px;
    left: 10px;
  }

  .profileimage {
    width: 160px;
  }

  .profileimage .remote {
    width: 55px;
    height: 55px;
  }

  .sectioncontentProfileContentArea {
    max-width: 100%;
    padding: 20px;
  }

  .sectioncontentInfoItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .sectioncontentInfoLabel {
    width: 100%;
    font-size: 0.85em;
  }

  .sectioncontentInfoValue {
    width: 100%;
  }

  .namecontainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  #sectioncontentUserNameContent {
    font-size: 1.4em;
    text-align: center;
  }

  .sectioncontentUserTitleContent {
    text-align: center;
  }

  .sectioncontentCopyLinkButton,
  .sectioncontentEditButton {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .profileimage {
    width: 130px;
  }

  .sectioncontentProfilePictureContent {
    width: 130px;
    height: 130px;
  }

  .sectioncontentSectionTitle {
    font-size: 1em;
  }

  .sectioncontentInfoItem {
    font-size: 0.85em;
  }
}
