$header-blue: #1E5EBE;
$dark-blue: #1b51a2;
$border-blue: #156be3;
$sign-blue: #6779ff;
$hover-blue: #4d5ac1;
$burgermenu-bg-color: rgb(240, 240, 240);
$casual-white: #fff;
$casual-black: #000;
$body-color: #e0e0ed;
$red-expired: #dc3545;
$link-blue: #1e5ebe;
$brown-333: #333;
$brown-777: #777;
$background-white: #e2e6e9;
$background-button-white: #f0f4f7;
$button-white: #aaaaaa;
$button-blue: #446fdb;
$button-red: #db4444;
$button-hover-red: #b01e1e;


$button-hover-blue: #1e58b0;
$border-white: #d4d8db;
$border-white2: #e0e0e0;
$casual-white: #fff;
$casual-gray: gray;
$casual-litgray: lightgray;
$fontcasual: 'Roboto', sans-serif;
$border-gray: #d1d1d1;


@mixin flexbox($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
